.App {
  text-align: center;
  background: purple;
}

h2 {
  color: white;
  line-height: 2rem;
  text-align: center;
}

.wrapper {
  background: cornsilk;
  width: 50%;
  margin: 10vh auto;
}

.todoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Todo{
  width: 30%;
 text-align: center;
}

